/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* PAGES */
 .page.fifth {
    min-height: 20vh;
}
.page.quarter {
    min-height: 25vh;
}
.page.third {
    min-height: 33.3vh;
}
.page.half {
    min-height: 50vh;
}
.page.threeq {
    min-height: 75vh;
}
.page.full {
    min-height: 100vh;
}
.page.double {
    min-height: 200vh;
}
.page.triple {
    min-height: 300vh;
}
.page.five {
    min-height: 500vh;
}
.page.ten {
    min-height: 1000vh;
}
.page.fifth.force {
    height: 20vh;
}
.page.quarter.force {
    height: 25vh;
}
.page.third.force {
    height: 33.3vh;
}
.page.half.force {
    height: 50vh;
}
.page.threeq.force {
    height: 75vh;
}
.page.full.force {
    height: 100vh;
}
.page.double.force {
    height: 200vh;
}
.page.triple.force {
    height: 300vh;
}
.page.five.force {
    height: 500vh;
}
.page.ten.force {
    height: 1000vh;
}
/* ALIGNMENT */
 .align {
    display: flex;
}
.align.inline {
    display: inline-flex;
}
.align.row {
    flex-direction: row;
}
.align.row-rev {
    flex-direction: row-reverse;
}
.align.col {
    flex-direction: column;
}
.align.col-rev {
    flex-direction: column-reverse;
}
.align.nowrap {
    flex-wrap: nowrap;
}
.align.wrap {
    flex-wrap: wrap;
}
.align.wrap-rev {
    flex-wrap: reverse;
}
.align.h-item-start {
    justify-content: flex-start;
}
.align.h-item-end {
    justify-content: flex-end;
}
.align.h-item-center {
    justify-content: center;
}
.align.h-item-space-a {
    justify-content: space-around;
}
.align.h-item-space-b {
    justify-content: space-between;
}
.align.v-item-start {
    align-items: flex-start;
}
.align.v-item-end {
    align-items: flex-end;
}
.align.v-item-center {
    align-items: center;
}
.align.v-item-stretch {
    align-items: stretch;
}
.align.v-item-base {
    align-items: baseline;
}
.align.v-content-start {
    align-content: flex-start;
}
.align.v-content-end {
    align-content: flex-end;
}
.align.v-content-center {
    align-content: center;
}
.align.v-content-space-a {
    align-content: space-around;
}
.align.v-content-space-b {
    align-content: space-between;
}
.align.v-content-stretch {
    align-content: stretch;
}
.align>.fifth {
    flex-basis: 19.5%;
}
.align>.quarter {
    flex-basis: 24.5%;
}
.align>.third {
    flex-basis: 33%;
}
.align>.half {
    flex-basis: 49.5%;
}
.align>.full {
    flex-basis: 100%;
}
/* LISTS */
 ul.blank {
    list-style: none;
}
ul.none {
    text-indent: none;
}
/* TEXT */
 .italic {
    font-style: italic;
}
.oblique {
    font-style: oblique;
}
.smallcaps {
    font-variant: small-caps
}
.lowercase {
    text-transform: lowercase;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.capitalise {
    /* hello british friends */
    text-transform: capitalize;
}
.lightest {
    font-weight: 100;
}
.lighter {
    font-weight: 200;
}
.light {
    font-weight: 300;
}
.book {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.mediumer {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}
.bolder {
    font-weight: 800;
}
.boldest {
    font-weight: 900;
}
.ellipsis {
    text-overflow: ellipsis;
}
.text-line-none {
    text-decoration: none;
}
.text-line-over {
    text-decoration: overline;
}
.text-line-under {
    text-decoration: underline;
}
.text-line-through {
    text-decoration: line-through;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
/* GRID SYSTEM */
.col-twentieth {
    display: inline-block;
    width: calc(100%/20);
}
.col-twentieth-two {
    display: inline-block;
    width: calc(200%/20);
}
.col-twentieth-three {
    display: inline-block;
    width: calc(300%/20);
}
.col-twentieth-four {
    display: inline-block;
    width: calc(400%/20);
}
.col-twentieth-five {
    display: inline-block;
    width: calc(500%/20);
}
.col-twentieth-six {
    display: inline-block;
    width: calc(600%/20);
}
.col-twentieth-seven {
    display: inline-block;
    width: calc(700%/20);
}
.col-twentieth-eight {
    display: inline-block;
    width: calc(800%/20);
}
.col-twentieth-nine {
    display: inline-block;
    width: calc(900%/20);
}
.col-twentieth-ten {
    display: inline-block;
    width: calc(1000%/20);
}
.col-twentieth-eleven {
    display: inline-block;
    width: calc(1100%/20);
}
.col-twentieth-twelve {
    display: inline-block;
    width: calc(1200%/20);
}
.col-twentieth-thirteen {
    display: inline-block;
    width: calc(1300%/20);
}
.col-twentieth-fourteen {
    display: inline-block;
    width: calc(1400%/20);
}
.col-twentieth-fifteen {
    display: inline-block;
    width: calc(1500%/20);
}
.col-twentieth-sixteen {
    display: inline-block;
    width: calc(1600%/20);
}
.col-twentieth-seventeen {
    display: inline-block;
    width: calc(1700%/20);
}
.col-twentieth-eighteen {
    display: inline-block;
    width: calc(1800%/20);
}
.col-twentieth-nineteen {
    display: inline-block;
    width: calc(1900%/20);
}
.col-eighteenth {
    display: inline-block;
    width: calc(100%/18);
}
.col-eighteenth-two {
    display: inline-block;
    width: calc(200%/18);
}
.col-eighteenth-three {
    display: inline-block;
    width: calc(300%/18);
}
.col-eighteenth-four {
    display: inline-block;
    width: calc(400%/18);
}
.col-eighteenth-five {
    display: inline-block;
    width: calc(500%/18);
}
.col-eighteenth-six {
    display: inline-block;
    width: calc(600%/18);
}
.col-eighteenth-seven {
    display: inline-block;
    width: calc(700%/18);
}
.col-eighteenth-eight {
    display: inline-block;
    width: calc(800%/18);
}
.col-eighteenth-nine {
    display: inline-block;
    width: calc(900%/18);
}
.col-eighteenth-ten {
    display: inline-block;
    width: calc(1000%/18);
}
.col-eighteenth-eleven {
    display: inline-block;
    width: calc(1100%/18);
}
.col-eighteenth-twelve {
    display: inline-block;
    width: calc(1180%/18);
}
.col-eighteenth-thirteen {
    display: inline-block;
    width: calc(1300%/18);
}
.col-eighteenth-fourteen {
    display: inline-block;
    width: calc(1400%/18);
}
.col-eighteenth-fifteen {
    display: inline-block;
    width: calc(1500%/18);
}
.col-eighteenth-sixteen {
    display: inline-block;
    width: calc(1600%/18);
}
.col-eighteenth-seventeen {
    display: inline-block;
    width: calc(1700%/18);
}
.col-sixteenth {
    display: inline-block;
    width: calc(100%/16);
}
.col-sixteenth-two {
    display: inline-block;
    width: calc(200%/16);
}
.col-sixteenth-three {
    display: inline-block;
    width: calc(300%/16);
}
.col-sixteenth-four {
    display: inline-block;
    width: calc(400%/16);
}
.col-sixteenth-five {
    display: inline-block;
    width: calc(500%/16);
}
.col-sixteenth-six {
    display: inline-block;
    width: calc(600%/16);
}
.col-sixteenth-seven {
    display: inline-block;
    width: calc(700%/16);
}
.col-sixteenth-eight {
    display: inline-block;
    width: calc(800%/16);
}
.col-sixteenth-nine {
    display: inline-block;
    width: calc(900%/16);
}
.col-sixteenth-ten {
    display: inline-block;
    width: calc(1000%/16);
}
.col-sixteenth-eleven {
    display: inline-block;
    width: calc(1100%/16);
}
.col-sixteenth-twelve {
    display: inline-block;
    width: calc(1180%/16);
}
.col-sixteenth-thirteen {
    display: inline-block;
    width: calc(1300%/16);
}
.col-sixteenth-fourteen {
    display: inline-block;
    width: calc(1400%/16);
}
.col-sixteenth-fifteen {
    display: inline-block;
    width: calc(1500%/16);
}
.col-fifthteenth {
    display: inline-block;
    width: calc(100%/15);
}
.col-fifteenth-two {
    display: inline-block;
    width: calc(200%/15);
}
.col-fifteenth-three {
    display: inline-block;
    width: calc(300%/15);
}
.col-fifteenth-four {
    display: inline-block;
    width: calc(400%/15);
}
.col-fifteenth-five {
    display: inline-block;
    width: calc(500%/15);
}
.col-fifteenth-six {
    display: inline-block;
    width: calc(600%/15);
}
.col-fifteenth-seven {
    display: inline-block;
    width: calc(700%/15);
}
.col-fifteenth-eight {
    display: inline-block;
    width: calc(800%/15);
}
.col-fifteenth-nine {
    display: inline-block;
    width: calc(900%/15);
}
.col-fifteenth-ten {
    display: inline-block;
    width: calc(1000%/15);
}
.col-fifteenth-eleven {
    display: inline-block;
    width: calc(1100%/15);
}
.col-fifteenth-twelve {
    display: inline-block;
    width: calc(1180%/15);
}
.col-fifteenth-thirteen {
    display: inline-block;
    width: calc(1300%/15);
}
.col-fifteenth-fourteen {
    display: inline-block;
    width: calc(1400%/15);
}
.col-twelth {
    display: inline-block;
    width: calc(100%/12);
}
.col-twelth-two {
    display: inline-block;
    width: calc(200%/12);
}
.col-twelth-three {
    display: inline-block;
    width: calc(300%/12);
}
.col-twelth-four {
    display: inline-block;
    width: calc(400%/12);
}
.col-twelth-five {
    display: inline-block;
    width: calc(500%/12);
}
.col-twelth-six {
    display: inline-block;
    width: calc(600%/12);
}
.col-twelth-seven {
    display: inline-block;
    width: calc(700%/12);
}
.col-twelth-eight {
    display: inline-block;
    width: calc(800%/12);
}
.col-twelth-nine {
    display: inline-block;
    width: calc(900%/12);
}
.col-twelth-ten {
    display: inline-block;
    width: calc(1000%/12);
}
.col-twelth-eleven {
    display: inline-block;
    width: calc(1100%/12);
}
.col-tenth {
    display: inline-block;
    width: calc(100%/10);
}
.col-tenth-two {
    display: inline-block;
    width: calc(200%/10);
}
.col-tenth-three {
    display: inline-block;
    width: calc(300%/10);
}
.col-tenth-four {
    display: inline-block;
    width: calc(400%/10);
}
.col-tenth-five {
    display: inline-block;
    width: calc(500%/10);
}
.col-tenth-six {
    display: inline-block;
    width: calc(600%/10);
}
.col-tenth-seven {
    display: inline-block;
    width: calc(700%/10);
}
.col-tenth-eight {
    display: inline-block;
    width: calc(800%/10);
}
.col-tenth-nine {
    display: inline-block;
    width: calc(900%/10);
}
.col-eighth {
    display: inline-block;
    width: calc(100%/8);
}
.col-eighth-two {
    display: inline-block;
    width: calc(200%/8);
}
.col-eighth-three {
    display: inline-block;
    width: calc(300%/8);
}
.col-eighth-four {
    display: inline-block;
    width: calc(400%/8);
}
.col-eighth-five {
    display: inline-block;
    width: calc(500%/8);
}
.col-eighth-six {
    display: inline-block;
    width: calc(600%/8);
}
.col-eighth-seven {
    display: inline-block;
    width: calc(700%/8);
}
.col-sixth {
    display: inline-block;
    width: calc(100%/6);
}
.col-sixth-two {
    display: inline-block;
    width: calc(200%/6);
}
.col-sixth-three {
    display: inline-block;
    width: calc(300%/6);
}
.col-sixth-four {
    display: inline-block;
    width: calc(400%/6);
}
.col-sixth-five {
    display: inline-block;
    width: calc(500%/6);
}
.col-fifth {
    display: inline-block;
    width: calc(100%/5);
}
.col-fifth-two {
    display: inline-block;
    width: calc(200%/5);
}
.col-fifth-three {
    display: inline-block;
    width: calc(300%/5);
}
.col-fifth-four {
    display: inline-block;
    width: calc(400%/5);
}
.col-quarter {
    display: inline-block;
    width: calc(100%/4);
}
.col-quarter-two {
    display: inline-block;
    width: calc(200%/4);
}
.col-quarter-three {
    display: inline-block;
    width: calc(300%/4);
}
.col-third {
    display: inline-block;
    width: calc(100%/3);
}
.col-third-two {
    display: inline-block;
    width: calc(200%/3);
}
.col-half {
    display: inline-block;
    width: calc(100%/2);
}
.col-full {
    display: inline-block;
    width: 100%;
}
.min-100 {
    min-width: 100px;
}
.min-150 {
    min-width: 150px;
}
.min-200 {
    min-width: 200px;
}
.min-250 {
    min-width: 250px;
}
.min-300 {
    min-width: 300px;
}
.min-350 {
    min-width: 350px;
}
.min-400 {
    min-width: 400px;
}
.min-450 {
    min-width: 450px;
}
.min-500 {
    min-width: 500px;
}
.min-550 {
    min-width: 550px;
}
.min-600 {
    min-width: 600px;
}
.min-650 {
    min-width: 650px;
}
.min-700 {
    min-width: 700px;
}
.min-750 {
    min-width: 750px;
}
